
GtkButton {
    background-image: none;
    color: black;
}
combobox {
    margin-left: 20px;
}
combobox>window.popup *{
    background: white;
    color: black;
}





#top_bar {
    background: white;
    padding: 10px;
}

#timer_label_not_recording {
    color: grey;
}




.record_btn { 
    background: white;
}

#record_btn_recording {
    background: rgb(200, 60, 60);
    color: white;
    border-color: white;
}
