
/* set window background color */
/* when adding a header bar for some reason gets filled with default color */
* {
    background: rgba(0, 0, 0,0);
}

GtkButton {
    background-image: none;
    color: black;
}
combobox {
    margin-left: 20px;
}
combobox>window.popup *{
    background: white;
    color: black;
}





#top_bar {
    background: white;
    padding: 10px;
    width: fit-content;
}

#timer_label_not_recording {
    color: grey;
}




.record_btn { 
    background: white;
    width: 100px;
    height: 100px;
}

#record_btn_recording {
    background: rgb(200, 60, 60);
    color: white;
    border-color: white;
}
